[Unit]
Description=ERPNext Configurator
After=erpnext-mariadb.service erpnext-valkey.service

[Container]
Pod=erpnext.pod
Image=localhost/erpnext-custom:version-15
Volume=%h/data/sites:/home/frappe/frappe-bench/sites:U
EnvironmentFile=%h/.env.erpnext
Exec=bash -c \
    "ls -1 apps > sites/apps.txt; \
    \
    if [ ! -f sites/common_site_config.json ]; \
        then echo '{}' > sites/common_site_config.json; \
    fi; \
    \
    bench set-config -g db_host $DB_HOST; \
    bench set-config -gp db_port $DB_PORT; \
    bench set-config -g redis_cache $REDIS_CACHE; \
    bench set-config -g redis_queue $REDIS_QUEUE; \
    bench set-config -g redis_socketio $REDIS_SOCKETIO; \
    bench set-config -gp socketio_port 9000"

[Service]
Type=oneshot
RemainAfterExit=no
